{% extends 'base.html' %}

{% block content %}

<h1> БЛОГ </h1>







<ul>
{% for post in object_list %}
 <li> <a href="{% url 'article-detail' post.pk %}" class="btn btn-Link" > {{ post.title }} </a> - {{ post.data }} {{ post.author }} 
    {{ post.author.first_name }} 
      {% if user.is_authenticated %}
      -
         <small> <a href="{% url 'update-post' post.pk %}" style="color: green; font-style: italic; ">Изменить</a></small>
 
      
    <!-- {{ post.author.last_name }} -->
    {{ post.author.email }}<br/>
     {{ post.body|slice:":50" |safe  }} 
     {% if  post.img %}
     <img src="{{ post.img.url }}" style="width: 150px; height: 150px;">
     {% endif %}
     <small><a href="{% url 'delete-post' post.pk %}" style="color: red ;" > Удалить </a></small>

      {% else %}
</li>     
{% endif %}

{% endfor %}
</ul>
{% endblock %}